# Node.js 依赖包 忽略node_models文件夹
node_modules/

# 环境变量文件（可能包含密码、API密钥）
.env

# 日志文件
*.log

# 编译输出目录
dist/
build/

# 操作系统自动生成的文件
.DS_Store        # macOS 系统
Thumbs.db        # Windows 系统

# IDE 配置文件
.idea/           # WebStorm
.vscode/         # VS Code
*.swp            # Vim 临时文件
./lingma

# 依赖锁定文件
# package-lock.json

# 临时文件
*.tmp
*.temp
